<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link rel="stylesheet" href="/style.css" />

</head>

<body>
    <div class="home-container">
        <h2>Welcome to the Home Page</h2>
        <!-- Toast element -->
        <div id="toast" class="toast">
            <span id="toastMessage"></span>
        </div>
   </div>     
        <script>
            // Pass the toastMessage from the server to the client-side JavaScript
             const loginMessage = "<%= loginMessage || '' %>";

                const toast = document.getElementById("toast");

                if (loginMessage) {
                    toast.style.backgroundColor = "#4caf50";
                    toast.innerText = loginMessage;
                    toast.className = "toast show";
                    setTimeout(() => toast.className = toast.className.replace("show", ""), 3500);
                }
        </script>
   
</body>

</html>